* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 1);
    color: #9a9996;
    transition-property: background-color;
    transition-duration: .5s;
}


/* CENTER */
#workspaces button {
    padding: 0 8px;
}

#workspaces button.active {
    color: #deddda;
}

#workspaces button.urgent {
    background-color: #ffa348;
}


/* RIGHT */
#pulseaudio,
#backlight,
#battery,
#idle_inhibitor,
#language,
#tray,
#clock
{
    color: #9a9996;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


#workspaces button:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#idle_inhibitor:hover,
#language:hover,
#clock:hover
{
    color: #f6f5f4;
    transition: 0.5s;
    background-color: #000000;
}


#battery.charging, #battery.plugged {
    color: #26a269;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #9a9996;
    }
}


#battery.warning:not(.charging) {
    color: #ffa348;
    animation-duration: 0.5s;
}

#temperature.critical,
#battery.critical:not(.charging) {
    color: #ffa348;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: #ffa348;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #ffa348;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ffa348;
}

#idle_inhibitor.activated {
    color: #99c1f1
}
